name: Check Google Java Format

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
          server-id: github
          settings-path: ${{ github.workspace }}
      - uses: axel-op/googlejavaformat-action@v4
        with:
          args: "--skip-reflowing-long-strings --replace"
          skip-commit: true
      - name: Print diffs
        run: git --no-pager diff --exit-code
