name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GH_MAVEN_PKG_AUTH_TOKEN: ${{ secrets.GH_MAVEN_PKG_AUTH_TOKEN }}
      GH_MAVEN_PKG_USER: ${{ secrets.GH_MAVEN_PKG_USER }}

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'
          server-id: github
          settings-path: ${{ github.workspace }}
      - run: mvn -B test --no-transfer-progress -s .mvn-ci.xml --file pom.xml
